<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" mb-0 h1 href="#">{{title}}</a>

    <button class="navbar-toggler"
      type="button"
      (click)="basicCollapse.toggle()"
      aria-controls="toggleThingTest"
      aria-expanded="false">
      <i class="fas fa-bars"></i>
    </button>

    <!-- What is the hashtag for? -->
    <div class="collapse navbar-collapse"
      id="toggleThingTest"
      mdbCollapse
      #basicCollapse="mdbCollapse">
      <ul class="navbar-nav mr-auto">
        <li>
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        <li>
          <a class="nav-link" routerLink="about" routerLinkActive="active" >About</a>
        </li>
        <li>
          <a class="nav-link" routerLink="social" routerLinkActive="active" >Social</a>
        </li>
      </ul>

      <ul class="navbar-nav ms-auto d-flex flex-row">
        <li>
          <a class="nav-link" style="display: inline-block;" href="https://trello.com/b/CtYfAAPA/shootingintospace" target="_blank">
            <img height="20px" style=" vertical-align: middle;" src="../assets/trello-mark-white.png" alt="triangle with equal sides" srcset="../assets/trello-mark-white.svg">
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div [@routeAnimation]="prepareRoute(outlet)">
	<router-outlet #outlet="outlet"></router-outlet>
</div>