.card.animated {
    height: 260px;
    width: 520px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.14) !important;
    margin: 20px;
    text-align: center;
    background-color: #fbfbfb;
    animation-duration: 1;
}