
<div class="container-fluid d-flex align-items-center justify-content-center bg">

  <div class="logo">
    <div class="starcircle">
      <img class="star" src="../../assets/star.svg">
      <img class="ring" src="../../assets/ring2.svg">
    </div>
    <div>
      <p class="logotext-topline" style="font-family: Kanit, sans-serif; color: #fff; font-weight: 100; font-size: 1.5em;">shooting into</p>
      <p class="logotext-bottomline" style="font-family: Kanit, sans-serif; color: #fff; font-weight: 800; font-size: 5em;">SPACE</p>
    </div>
  </div>

</div>
